@charset "UTF-8";

div.container > article {
	position : relative;
	width : 100%;
	max-width : 100vw;
	}
	
div.container > article > div.content {
	position : inherit;
	max-width : 960px;
	margin : 0 auto;
	}

div.container > article > div.content > h1,	
div.container > article > div.content > h6 {
	font-family : "Bold", Arial, Tahoma, Verdana, sans-serif;
	text-align : center;
	}
	
div.container > article > div.content > blockquote {
	font-size : 22px;
	line-height : 28px;
	text-align : center;
	}

div.container > article > div.content > h6 > span,	
div.container > article > div.content > blockquote > span {	
	background-color : rgba(240, 207, 179, 1);
	}
		
@media (min-width : 1201px) {
	div.container > article {
		padding-top : 120px;
		}
		
	div.container > article > div.content {
		padding : 30px 60px;
		}
		
	div.container > article > div.content > h1,
	div.container > article > div.content > h6 {
		padding : 30px 0;
		font-size : 56px;
		line-height : 68px;
		}
	}

@media (min-width : 961px) and (max-width : 1200px) {
	div.container > article {
		padding-top : 110px;
		}
		
	div.container > article > div.content {
		padding : 25px 50px;
		}
		
	div.container > article > div.content > h1,
	div.container > article > div.content > h6 {
		padding : 25px 0;
		font-size : 49px;
		line-height : 59px;
		}
	}

@media (min-width : 721px) and (max-width : 960px) {
	div.container > article {
		padding-top : 100px;
		}
		
	div.container > article > div.content {
		padding : 20px 40px;
		}
		
	div.container > article > div.content > h1,
	div.container > article > div.content > h6 {
		padding : 20px 0;
		font-size : 42px;
		line-height : 52px;	
		}
	}
	
@media (min-width : 481px) and (max-width : 720px) {
	div.container > article {
		padding-top : 90px;
		}
		
	div.container > article > div.content {
		padding : 15px 30px;
		}
		
	div.container > article > div.content > h1,
	div.container > article > div.content > h6 {
		padding : 15px 0;
		font-size : 35px;
		line-height : 43px;	
		}
	}

@media (max-width : 480px) {
	div.container > article {
		padding-top : 80px;
		}
		
	div.container > article > div.content {
		padding : 10px 20px;
		}
		
	div.container > article > div.content > h1,
	div.container > article > div.content > h6 {
		padding : 10px 0;
		font-size : 28px;
		line-height : 34px;
		}
	}