@charset "UTF-8";
	
.chart-text {
	font-size : 18px;
  	-moz-transform : translateY(25%);
  	-ms-transform : translateY(25%);
  	-webkit-transform : translateY(25%);
  	transform : translateY(25%);
	}
	
.chart-percent {
  	font-size : 0.6em;
  	-moz-transform : translateY(-19%);
  	-ms-transform : translateY(-19%);
  	-webkit-transform : translateY(-19%);
  	transform : translateY(-19%);
	}
	
.ring-60 .donut-ring {
  	stroke-dasharray : 38, 62;
  	stroke-dashoffset : 64;
  	animation : ring-60 2s;
  	-webkit-animation : ring-60 2s;	
	}
	
@keyframes ring-60 {
	from {
    	stroke-dasharray: 98, 2;
    	stroke-dashoffset : 124;
  		}
  	to {
    	stroke-dasharray : 38, 62;
    	stroke-dashoffset : 64;
  		}
	}

@-webkit-keyframes ring-60 {
	from {
    	stroke-dasharray: 98, 2;
    	stroke-dashoffset : 124;
  		}
  	to {
    	stroke-dasharray : 38, 62;
    	stroke-dashoffset : 64;
  		}
	}
	
.ring-60 .donut-segment {
  	stroke-dasharray : 60, 40;
  	animation : segment-60 2s;
  	-webkit-animation : segment-60 2s;
	}
	
@keyframes segment-60 {
	from {
    	stroke-dasharray: 0, 100;
  		}
  	to {
    	stroke-dasharray : 60, 40;
  		}
	}

@-webkit-keyframes segment-60 {
  	from {
    	stroke-dasharray: 0, 100;
  		}
  	to {
    	stroke-dasharray : 60, 40;
  		}
	}
	
.ring-20 .donut-ring {
  	stroke-dasharray : 78, 22;
  	stroke-dashoffset : 104;
  	animation : ring-20 2s;
  	-webkit-animation : ring-20 2s;	
	}
	
@keyframes ring-20 {
	from {
    	stroke-dasharray: 98, 2;
    	stroke-dashoffset : 124;
  		}
  	to {
    	stroke-dasharray : 78, 22;
    	stroke-dashoffset : 104;
  		}
	}

@-webkit-keyframes ring-20 {
	from {
    	stroke-dasharray: 98, 2;
    	stroke-dashoffset : 124;
  		}
  	to {
    	stroke-dasharray : 78, 22;
    	stroke-dashoffset : 104;
  		}
	}
	
.ring-20 .donut-segment {
  	stroke-dasharray : 20, 80;
  	animation : segment-20 2s;
  	-webkit-animation : segment-20 2s;
	}
	
@keyframes segment-20 {
	from {
    	stroke-dasharray: 0, 100;
  		}
  	to {
    	stroke-dasharray : 20, 80;
  		}
	}

@-webkit-keyframes segment-20 {
  	from {
    	stroke-dasharray: 0, 100;
  		}
  	to {
    	stroke-dasharray : 20, 80;
  		}
	}
	
.ring-10 .donut-ring {
  	stroke-dasharray : 88, 12;
  	stroke-dashoffset : 114;
  	animation : ring-10 2s;
  	-webkit-animation : ring-10 2s;	
	}
	
@keyframes ring-10 {
	from {
    	stroke-dasharray: 98, 2;
    	stroke-dashoffset : 124;
  		}
  	to {
    	stroke-dasharray : 88, 12;
    	stroke-dashoffset : 114;
  		}
	}

@-webkit-keyframes ring-10 {
	from {
    	stroke-dasharray: 98, 2;
    	stroke-dashoffset : 124;
  		}
  	to {
    	stroke-dasharray : 88, 12;
    	stroke-dashoffset : 114;
  		}
	}
	
.ring-10 .donut-segment {
  	stroke-dasharray : 10, 90;
  	animation : segment-10 2s;
  	-webkit-animation : segment-10 2s;
	}
	
@keyframes segment-10 {
	from {
    	stroke-dasharray: 0, 100;
  		}
  	to {
    	stroke-dasharray : 10, 90;
  		}
	}

@-webkit-keyframes segment-10 {
  	from {
    	stroke-dasharray: 0, 100;
  		}
  	to {
    	stroke-dasharray : 10, 90;
  		}
	}