@charset "UTF-8";
	
div.container > article > div.projects > blockquote {
	font-size : 22px;
	line-height : 28px;
	text-align : center;
	max-width : 960px;
	margin : 0 auto;
	}
	
div.container > article > div.projects > a {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    text-decoration: none;
	}
	
div.container > article > div.projects > a::before,
div.container > article > div.projects > a::after {
	display : block;
	position : absolute;
	top : 0;
	left : 0;
	height : 100%;
	content : "";
	}
	
div.container > article > div.projects > a::before {
	z-index : 10;
	width : 100%;
	background-color : rgba(107, 166, 195, 1);
	}
	
div.container > article > div.projects > a::after {
	z-index : 15;
	width : 0;
	background-color : rgba(0, 124, 162, 1);
	transition : width 0.25s ease;
	}
	
div.container > article > div.projects > a:hover::after {
	width : 100%;
	}
	
div.container > article > div.projects > a > span {
	position : relative;
	z-index : 20;
	display : block;
	color : rgba(255, 255, 255, 1);
	font : normal 18px/50px "Bold", Arial, Tahoma, Verdana, sans-serif;
	text-align : center;
	white-space : nowrap;
	}

	
div.container > article > div.projects > h6 {
	font-family : "Bold", Arial, Tahoma, Verdana, sans-serif;
	text-align : center;
	}

div.container > article > div.projects,
div.container > article > div.projects > div.description,
div.container > article > div.projects > div.swiper-projects,
div.container > article > div.projects > div.swiper-projects > ul,
div.container > article > div.projects > div.swiper-projects > ul > li {
	position : relative;
	}
	
div.container > article > div.projects > div.swiper-projects {
	max-width : 1300px;
	margin : 0 auto;
	overflow : hidden;
	}
	
div.container > article > div.projects > div.swiper-projects::before,
div.container > article > div.projects > div.swiper-projects::after {
	position : absolute;
	top : 0;
	z-index : 5;
	height : 100%;
	width : 50px;
	background-color : rgba(255, 255, 255, 1);
	content : "";
	}
	
div.container > article > div.projects > div.swiper-projects::before,
div.container > article > div.projects > div.swiper-projects > div.button.prev {
	left : 0;
	}
	
div.container > article > div.projects > div.swiper-projects::after,
div.container > article > div.projects > div.swiper-projects > div.button.next {
	right : 0;
	}
	
div.container > article > div.projects > div.swiper-projects > div.button {
	position : absolute;
	top : calc(50% - 25px);
	z-index : 10;
	width : 50px;
	height : 50px;
	cursor : pointer;
	}
	
div.container > article > div.projects > div.swiper-projects > div.button::after {
	position : absolute;
	top : 0;
	left : 0;
	z-index : 20;
	width : 100%;
	height : 100%;
	font-size : 22px;
	font-family : "icomoon" !important;
	line-height : 50px;
    content: "\e907";
	text-align : center;
	color : rgba(255, 255, 255, 1);
	transition : left 0.25s ease;
	}
	
div.container > article > div.projects > div.swiper-projects > div.button.prev::after {
	transform : rotate(180deg);
	}
	
div.container > article > div.projects > div.swiper-projects > div.button.prev:hover::after {
	left : -2px;
	}
	
div.container > article > div.projects > div.swiper-projects > div.button.next:hover::after {
	left : 2px;
	}
	
div.container > article > div.projects > div.swiper-projects > div.button > button {
	display : block;
	width : inherit;
	height : inherit;
	padding : 0;
	margin : 0;
	border : 0;
	position : absolute;
	top : 0;
	left : 0;
	z-index : 10;
	overflow : hidden;
	}
	
div.container > article > div.projects > div.swiper-projects > div.button > button::after,
div.container > article > div.projects > div.swiper-projects > div.button > button::before {
	content : "";
	position : absolute;
	top: 0;
	height : 100%;
	width : 100%;
	}
	
div.container > article > div.projects > div.swiper-projects > div.button > button::after {
	left : 0;
	z-index : 10;
	background-color : rgba(107, 166, 195, 1);
	}
	
div.container > article > div.projects > div.swiper-projects > div.button > button::before {
	z-index : 15;
	background-color : rgba(0, 124, 162, 1);
	}
	
div.container > article > div.projects > div.swiper-projects > div.button.prev > button::before {
	left : 100%;
	transition : left 0.25s ease;
	}
	
div.container > article > div.projects > div.swiper-projects > div.button.prev:hover > button::before {
	left : 0;
	}
	
div.container > article > div.projects > div.swiper-projects > div.button.next > button::before {
	right : 100%;
	transition : right 0.25s ease;
	}
	
div.container > article > div.projects > div.swiper-projects > div.button.next:hover > button::before {
	right : 0;
	}	
	
div.container > article > div.projects > div.swiper-projects > div.swiper-pagination {
	position : absolute;
	bottom : 0;
	left : calc(50% - 30px);
	z-index : 10;
	width : 60px;
	padding : 10px;
	background-color : rgba(255, 255, 255, 1);
	text-align : center;
	}

div.container > article > div.projects > div.swiper-projects > ul {
	display : flex;
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	width : 2000em;
	padding : 0;
	margin : 0;
	list-style : none;
	}
	
div.container > article > div.projects > div.swiper-projects > ul > li > div > img {
	width : 100%;
	height : auto;
	}
	
div.container > article > div.projects > div.swiper-projects > ul > li > div > span,
div.container > article > div.projects > div.swiper-projects > ul > li > div > a {
	display : none;
	}

div.container > article > div.projects > div.description {
	max-width : 1300px;
	margin : 0 auto;
	}
		
div.container > article > div.projects > div.description > a {
	display : block;
	font-size : 18px;
	line-height : 24px;
	color: rgba(0, 124, 162, 1);
	text-decoration : none;
	}
	
div.container > article > div.projects > div.description > a > span::after {
	background-image : url("../img/arrow.svg?181020192030");
	background-position : 75% 50%;
	background-repeat : no-repeat;
	background-size : 20px 16px;
	font-size : 16px;
	line-height : 0;
	content : "\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0\00A0";
	transition : background 0.25s ease;
	}
	
div.container > article > div.projects > div.description > a:hover > span::after {
	background-position : 100% 50%;
	}
	
@media (min-width : 1201px) {
	div.container > article > div.projects {
		padding : 30px 60px;
		}
		
	div.container > article > div.projects > blockquote {
		padding : 30px 60px;
		}
		
	div.container > article > div.projects > a {
    	margin: 30px auto;
		}
		
	div.container > article > div.projects > h6 {
		padding : 30px 0;
		font-size : 56px;
		line-height : 68px;
		}
		
	div.container > article > div.projects > div.description {
		padding : 0 80px 30px 80px;
		}
		
	div.container > article > div.projects > div.swiper-projects {
		padding : 0 50px;
		margin : 30px auto;
		}
		
	div.container > article > div.projects > div.swiper-projects > ul > li {
		padding : 0 30px;
		}
	}
	
@media (min-width : 961px) and (max-width : 1200px) {
	div.container > article > div.projects {
		padding : 25px 50px;
		}
		
	div.container > article > div.projects > blockquote {
		padding : 25px 50px;
		}
		
	div.container > article > div.projects > a {
    	margin: 25px auto;
		}
		
	div.container > article > div.projects > h6 {
		padding : 25px 0;
		font-size : 49px;
		line-height : 59px;
		}
		
	div.container > article > div.projects > div.description {
		padding : 0 75px 25px 75px;
		}
		
	div.container > article > div.projects > div.swiper-projects {
		padding : 0 50px;
		margin : 25px auto;
		}
		
	div.container > article > div.projects > div.swiper-projects > ul > li {
		padding : 0 25px;
		}
	}
	
@media (min-width : 721px) and (max-width : 960px) {
	div.container > article > div.projects {
		padding : 20px 0;
		}
		
	div.container > article > div.projects > blockquote {
		padding : 20px 40px;
		}
		
	div.container > article > div.projects > a {
    	margin: 20px auto;
		}
		
	div.container > article > div.projects > h6 {
		padding : 20px 0;
		font-size : 42px;
		line-height : 52px;
		}
		
	div.container > article > div.projects > div.description {
		padding : 0 40px 20px 40px;
		}
		
	div.container > article > div.projects > div.swiper-projects {
		margin : 20px auto;
		}

	div.container > article > div.projects > div.swiper-projects::before,
	div.container > article > div.projects > div.swiper-projects::after,
	div.container > article > div.projects > div.swiper-projects > div.button {
		display : none;
		}
	}
	
@media (min-width : 481px) and (max-width : 720px) {
	div.container > article > div.projects {
		padding : 15px 0;
		}
		
	div.container > article > div.projects > blockquote {
		padding : 15px 30px;
		}
		
	div.container > article > div.projects > a {
    	margin: 15px auto;
		}
		
	div.container > article > div.projects > h6 {
		padding : 15px 0;
		font-size : 35px;
		line-height : 43px;	
		}
		
	div.container > article > div.projects > div.description {
		padding : 0 30px 15px 30px;
		}
		
	div.container > article > div.projects > div.swiper-projects {
		margin : 15px auto;
		}

	div.container > article > div.projects > div.swiper-projects::before,
	div.container > article > div.projects > div.swiper-projects::after,
	div.container > article > div.projects > div.swiper-projects > div.button {
		display : none;
		}
	}
	
@media (max-width : 480px) {
	div.container > article > div.projects {
		padding : 10px 0;
		}
		
	div.container > article > div.projects > blockquote {
		padding : 10px 20px;
		}
		
	div.container > article > div.projects > a {
    	margin: 10px auto;
		}
		
	div.container > article > div.projects > h6 {
		padding : 10px 0;
		font-size : 28px;
		line-height : 34px;
		}
		
	div.container > article > div.projects > div.description {
		padding : 0 20px 10px 20px;
		}
		
	div.container > article > div.projects > div.swiper-projects {
		margin : 10px auto;
		}

	div.container > article > div.projects > div.swiper-projects::before,
	div.container > article > div.projects > div.swiper-projects::after,
	div.container > article > div.projects > div.swiper-projects > div.button {
		display : none;
		}
	}